.button {
	display: inline-block;
	padding: 2px 10px;
	border: 2px solid #000;
}

.active {
	border-color: red;
}

.disable {
	cursor: not-allowed;
	color: antiquewhite;
	border-color: antiquewhite;
	background-color: blanchedalmond;
}